fastapi
uvicorn
openai>=1.1.1
langchain
langchain_community
langchain_openai
python-dotenv
pypdf
tiktoken
pgvector
SQLAlchemy
psycopg2-binary
passlib[bcrypt]
python-jose
python-multipart
email-validator
stripe>=5.0.0
requests
